# For the iCE40HX-8K Breakout Board

# LEDs
set_io led[0]    C3
set_io led[1]    B3
set_io led[2]    C4
set_io led[3]    C5
set_io led[4]    A1
set_io led[5]    A2
set_io led[6]    B4
set_io led[7]    B5

# Address bus
set_io adr[0]    R15
set_io adr[1]    P16
set_io adr[2]    P15
set_io adr[3]    N16
set_io adr[4]    M15
set_io adr[5]    M16
set_io adr[6]    L16
set_io adr[7]    K15
set_io adr[8]    K16
set_io adr[9]    K14
set_io adr[10]   J14
set_io adr[11]   G14
set_io adr[12]   F14
set_io adr[13]   J15
set_io adr[14]   H14
set_io adr[15]   G15
set_io adr[16]   G16
set_io adr[17]   F15
set_io adr[18]   F16
set_io adr[19]   E14
set_io adr[20]   E16

# Data bus
set_io data[0]   A9
set_io data[1]   B9
set_io data[2]   B8
set_io data[3]   A7
set_io data[4]   B7
set_io data[5]   C7
set_io data[6]   A6
set_io data[7]   C6

# Clock & R/W & Reset
set_io clk       J3
set_io n_reset   D15
set_io n_read    B6
set_io n_write   A5

# Chip selects
set_io n_ram_cs  D16
set_io n_cart_cs D14
set_io n_crom_cs B16
set_io n_cram_cs C16

# Config
set_io n_emu_mbc A11

# Prog Loader
set_io rx        B10

