# For the iCE40HX-8K Breakout Board

# Clock & Reset
set_io clk12m    J3
set_io n_reset   D15

# Audio PWMs
set_io chl       T1
set_io chr       T2
set_io chm       T3

# Joypad
set_io p10       R6
set_io p11       T5
set_io p12       R5
set_io p13       R3
set_io p14       R4
set_io p15       R2
